body{

    margin:0;

    background:#eef2f7;

    font-family:Arial;

}

.container{

    width:1200px;

    margin:auto;

}

h1{

    text-align:center;

    padding:20px;

}

.top{

    display:flex;

    gap:20px;

}

.camera{

    flex:2;

}

.status{

    flex:1;

}

.camera-box{

    height:300px;

    background:white;

    border-radius:15px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

}

.status{

    background:white;

    border-radius:15px;

    padding:20px;

}

.control{

    margin-top:20px;

    background:white;

    padding:20px;

    border-radius:15px;

}

.pad{

    display:grid;

    grid-template-columns:100px 100px 100px;

    justify-content:center;

    gap:15px;

}

button{

    width:100px;

    height:70px;

    font-size:25px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:white;

    cursor:pointer;

}

button:hover{

    background:#1d4ed8;

}

.speed{

    margin-top:20px;

    background:white;

    padding:20px;

    border-radius:15px;

}

input{

    width:100%;

}

.log{

    margin-top:20px;

    background:white;

    padding:20px;

    border-radius:15px;

}

#logBox{

    height:150px;

    overflow:auto;

}

#joystick{

    width:320px;

    height:320px;

    margin:auto;

    background:#f7f7f7;

    border-radius:50%;

    position:relative;

}